---
import OpenGraphImage from '@/assets/open-graph-image.png';

const title = 'Daniel Molina';
const description = 'Full Stack Engineer crafting beautiful, efficient websites and applications.';
const url = 'https://danielmnv.com';
---

<title>{title}</title>
<meta name="description" content={description} />

<!-- Open Graph tags -->
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={title} />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image" content={OpenGraphImage.src} />

<!-- Twitter tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image:type" content="image/png" />
<meta name="twitter:image:width" content="1200" />
<meta name="twitter:image:height" content="630" />
<meta name="twitter:image" content={OpenGraphImage.src} />
<meta name="twitter:image:alt" content={title} />
<meta name="twitter:site" content="@iDanmnv" />
<meta name="twitter:creator" content="@iDanmnv" />
